html,
body,
.top-bar {
    min-width: 1100px;
}


/* .content {
    /* background-color: rgba(255, 255, 255, 0.5); */


/* } */

*/ #hightlight-border {
    border-top: 3px solid #f4930a;
}

html {
    background-image: url("../images/background/main-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* user-select: none; */
    /* background-repeat: no-repeat; */
}

i {
    user-select: none;
}


/* 导航栏 */

.top-bar {
    height: 70px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    background-color: #898080;
    position: fixed;
    /* position: sticky; */
    /* top: 0px; */
    z-index: 999;
}

.logo img {
    height: 50px;
    width: 309px;
    margin-top: 10px;
}

.nav ul {
    display: flex;
}

.nav li {
    width: 100px;
    text-align: center;
}

.nav a {
    color: rgb(16, 7, 7);
    line-height: 70px;
    font-size: 24px;
    font-family: "楷体", "楷体_GB2312";
    font-weight: bold;
}

.nav a:hover {
    color: rgb(230, 204, 157);
    transition: 0.2s all;
}

.nav li:hover {
    background-color: #978b8c;
    transition: 0.4s all;
}


/* 版权栏 */

.copyright {
    width: 100%;
    height: 350px;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.767);
    position: relative;
}

.frind-link {
    position: relative;
    top: 20%;
    width: 70%;
    margin: 0 auto;
}

.frind-link ul {
    display: flex;
    justify-content: space-between;
}

.frind-link li {
    /* 设置竖向排列文字 */
    writing-mode: tb-rl;
}

.frind-link a {
    color: gray;
    font-size: 20px;
}

.frind-link a:hover {
    color: white;
}

.CPC-bottom-flag img {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 10%;
    left: 45%;
}

.copyright-description {
    position: absolute;
    bottom: 10px;
    left: 35%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

a {
    transition: 0.2s all;
}

@media only screen and (min-width: 1100px) {
    html,
    body {
        min-width: 1100px;
    }
}